
        <footer class="row tm-mt-small">
            <div class="col-12 font-weight-light">
                <p class="d-inline-block tm-bg-black text-white py-2 px-4">
                    Copyright &copy; 2022 FKA Admin Dashboard . Created by
                    <a rel="nofollow" href="#" class="text-white tm-footer-link">Seyitech</a>
                </p>
            </div>
        </footer>