<%- include('./partials/header.ejs') %> 


<body>
   
 
 
 
  <!--   PHOTO-->
 
<form action="/upload" enctype="multipart/form-data" method="POST"> 
  <input type="file" name="./images/img" accept="image/*" />
  <input type="submit" value="Upload Photo"/>
</form>
 
 
 




    <!-- Footer Start -->
    <%- include('./partials/footer.ejs') %>
    <!-- Footer End -->





    <!-- JavaScript Libraries -->
    <%- include('./partials/script.ejs') %> 
</body>
</html>
 
<div